<link rel='stylesheet' href='/stylesheets/admin.css' />
<link href="https://fonts.googleapis.com/css2?family=Lora&family=Montserrat:wght@100&family=Old+Standard+TT&family=Open+Sans:wght@300;400;700&display=swap" rel="stylesheet"/>
<script src="https://kit.fontawesome.com/42698a867f.js" crossorigin="anonymous"></script>
 <div class="container">
        <img src="/images/logo.png" alt="logo">
        <h1>Soledad<samp class="design">design</samp></h1>
    </div>
    <div>
        <p>Hola {{persona}}! <a class="btn-danger" href="/login/logout" aria-hidden="true">Cerrar sesión <i class="fa-solid fa-arrow-right-from-bracket"></i></a></p>
    </div>
    <div>
        <div>
            <h2>Lista de clientes</h2>
        </div>
        <div class="nuevo">
            <a href="/admin/agregar"><i aria-hidden="true" class="fa-solid fa-plus"></i >Nuevo</a>
        </div>
    </div>
    <div class="container1">
        <div>
            <table>
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Cliente</th>
                        <th>Finalizado</th>
                        <th>Importe</th>
                        <th>Total</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    
                    {{#each clientes}}
                    <tr>
                        <td>{{id}}</td>
                        <td>{{clientes}}</td>
                        <td>{{finalizado}}</td>
                        <td>{{importe}}</td>
                        <td>{{total}}</td>


                        <td class="acciones">
                            <a href="/admin/modificar/{{id}}"><i class="fas fa-pencil-alt" aria-hidden="true"></i></a>
                            <a href="/admin/eliminar/{{id}}"><i class="fa-solid fa-trash-can" aria-hidden="true"></i></a>
                        </td>
                    </tr>

                   {{/each}}
                </tbody>
            </table>
        </div>
    </div>
    